html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	outline: none;
	border-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/* http://cssreset.com */

html.sr .load-hidden {
    visibility: hidden;
}

@font-face {
		font-family: 'PPNeueMontreal-Regular';
		font-style:  normal;
		font-display: swap;
		src: url('../fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
 				 url('../fonts/PPNeueMontreal-Regular.woff') format('woff');
}


@font-face {
		font-family: 'PPNeueMontreal-Medium';
		font-style:  normal;
		font-display: swap;
		src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
 				 url('../fonts/PPNeueMontreal-Medium.woff') format('woff');
}

@font-face {
		font-family: 'PPNeueMontreal-Bold';
		font-style:  normal;
		font-display: swap;
		src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
 				 url('../fonts/PPNeueMontreal-Bold.woff') format('woff');
}

:root {
	--black: #181818;
	--grey: #555555;
	--lightgrey: #888888;
	--white: #ffffff;
	--blue: #3E80FF;
}

body {
	font-family: 'PPNeueMontreal-Regular', 'Helvetica', sans-serif;
	background: var(--white);
	color: var(--black);
}

* {
	cursor: none;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
	visibility: visible;
	user-select: none;
	opacity: 1;
    transition: opacity 0.3s ease; 
}

main {
	max-width: 800px;
	margin: 10% auto 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 576px;
}

.nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	top: 24px;
	padding: 4px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 90;
	overflow: hidden;
	background: rgba(240,240,240,0.8);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 8px;
	animation-name: nav-animation;
	animation-duration: 1.2s;
  	animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
}

nav ul {
	display: inline-flex;
	gap: 4px;
}

nav ul li {
	display: flex;
    height: 40px;
    width: 72px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
	transition: 0.3s ease;
}

nav ul li:hover {
	background-color: rgba(255, 255, 255, 0.8);
	transition: 0.3s ease;
}

nav ul li a {
    font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
}

nav ul li.active a {
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.3s ease;
	border-radius: 6px;
}

.favicon {
	background-image: url(../images/favicons/favicon.svg);
	width: 24px;
	height: 24px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes nav-animation {
	0% {
		width: 32px;
		background: rgba(240,240,240,0.1);
		opacity: 0;
	}
	100% {
		width: 232px;
		background: rgba(240,240,240,0.6);
		opacity: 1;
	}
}

h1 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 21px;
	line-height: 136%;
	letter-spacing: 0.2px;
}

h2 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 24px;
	letter-spacing: 0.4px;
	color: var(--black);
}

h3 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 19px;
	letter-spacing: 0.2px;
	color: var(--black);
}

h4 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 14px;
	letter-spacing: 0.6px;
	color: var(--black);
}

a {
	color: var(--black);
	text-decoration: none;
}

a:active {
	color: var(--black);
}

a:visited {
	color: var(--black);
}

#email-btn {
	width: fit-content;
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 21px;
	line-height: 136%;
	letter-spacing: 0.2px;
	text-decoration: underline;
	text-underline-offset: 1px;
	transition: 0.3s ease;
}

#email-btn:hover {
	text-underline-offset: 4px;
 	animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
	color: var(--blue);
}

p.primary {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 21px;
	line-height: 136%;
	letter-spacing: 0.2px;
}

p.secondary {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	color: var(--lightgrey);
	font-size: 18px;
	line-height: 142%;
	letter-spacing: 0.2px;
}

p.desc {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	color: var(--lightgrey);
	font-size: 16px;
	line-height: 136%;
	letter-spacing: 0.2px;
	padding-top: 8px;
}

.content-center {
	width: 494px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.content-left {
	width: 576px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.badge {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	color: var(--black);
	font-size: 14px;
	letter-spacing: 0.4px;
}

.small-logo {
	width: 24px;
	height: 24px;
}

.large-logo {
	width: 40px;
	height: 40px;
}

.company-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.company-info {
	display: flex;
	align-items: center;
	gap: 12px;
}

.flex {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.card {
	width: 100%;
	background: transparent;
	display: block;
	border: none;
	position: relative;
	z-index: 1;
	padding: 8px;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s ease;
}

.card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	background: rgba(0,0,0,0.00);
	z-index: -1;
	pointer-events: none;
	transition: 0.3s ease;
	transform-origin: center;
	scale: 1.06;
}

.card:hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	background: rgba(0,0,0,0.04);
	z-index: -1;
	pointer-events: none;
	transition: 0.3s ease;
	transform-origin: center;
	scale: 1;
}

.frame {
	position: relative;
	user-select: none;
}

.viewer {
	width: 215px;
	height: 462px;
	overflow: hidden;
	border-radius: 10px;
	z-index: 10;
	position: absolute;
	right: 4%;
	top: 6%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.video-control {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 32px;
	left: 16px;
	z-index: 10;
	user-select: none;
	transition: 0.3s ease;
	opacity: 0.8;
}

.video-control:hover {
	transition: 0.3s ease;
	transform-origin: center;
	scale: 1.2;
	opacity: 1;
}

.mute {
	content: url(../images/assets/mute.svg);
	user-select: none;
}

.unmute {
	content: url(../images/assets/unmute.svg);
	user-select: none;
}

.portfolio {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row;
}

.portfolio-video {
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    object-fit: cover;
	margin-bottom: 16px;
}

.portfolio-content {
	width: 100%;
    display: flex;
    flex-direction: column;
	align-items: center;
}

.work-list {
    display: flex;
    flex-direction: column;
    width: 276px;
    gap: 8px;
    position: sticky;
    top: 0;
}

.work-item {
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
	gap: 8px;
}

.work-item.selected {
	border-radius: 6px;
	background: rgba(0,0,0,0.04);
}

.work-info {
	display: flex;
    flex-direction: column;
    gap: 8px;
}

.work-detail {
	font-size: 16px;
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	letter-spacing: 0.6px;
	color: var(--black);
}

.work-name {
	font-size: 14px;
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	letter-spacing: 0.6px;
	color: var(--lightgrey);
}

#work-title {
	padding-bottom: 8px;
}

#work-description {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	color: var(--lightgrey);
	font-size: 16px;
	line-height: 126%;
	letter-spacing: 0.2px;
}

.work-placeholder {
	width: 500px;
	height: 400px;
	align-content: center;
}

#work-image {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	opacity: 1;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 16px, rgba(0, 0, 0, 0.15) 0px 2px 4px;
	margin-bottom: 32px;
}

.play-icon {
	background-image: url(../images/assets/play-icon.svg);
	width: 28px;
	height: 28px;
}

.arrow-icon {
	background-image: url(../images/assets/arrow.svg);
	width: 20px;
	height: 20px;
	opacity: 0;
	transform: translateX(-8px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.work-item:hover .arrow-icon {
    opacity: 1;
    transform: translateX(0);
}

.note {
	font-size: 12px;
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	letter-spacing: 0.8px;
	color: var(--lightgrey);
	display: block;
	text-align: center;
}

footer {
    max-width: 950px;
    display: flex;
	flex-direction: column;
    gap: 32px;
    align-items: center;
    margin: auto;
    padding-bottom: 3rem;
	opacity: 0;
    transition: opacity 0.3s ease;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
}

.footer-social ul {
	display: inline-flex;
	justify-content: center;
	gap: 2rem;
}

.footer-info {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	letter-spacing: 0.4px;
	display: inline-flex;
	align-items: center;
	gap: 40px;
	color: var(--lightgrey);
	font-size: 14px;
}

p.combo {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

/* Responsive */

@media screen and (max-width: 799px) and (min-width: 550px) {
	main {
		max-width: 500px;
		margin: 20% auto 8%;
	}

	header {
		width: auto;
		margin: 0;
	}

	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 22px;
	}

	p.primary {
		font-size: 18px;
	}

	#email-btn {
		font-size: 18px;
	}

	.work-list {
		display: grid;
		padding: 0;
		position: unset;
		width: 100%;
	}

	.work-placeholder {
		padding: 24px 0 0 0;
	}

	.portfolio {
		width: 100%;
	}

	.content-left {
		width: 100%;
	}

	#work-image {
		border-radius: 8px;
		margin-top: 0;
	}

	#work-title {
		font-size: 16px;
	}

	#work-description {
		font-size: 15px;
	}

	.portfolio {
		flex-direction: column;
		height: 750px;
	}

	.viewer {
		width: 120px;
		height: 258px;
	}

	.viewer-header {
		display: none;
	}

	.video-control {
		top: 24px;
		left: 12px;
		width: 24px;
		height: 24px;
	}

	footer {
		flex-direction: column;
		align-items: center;
	}

}

@media screen and (width <= 549px) {
	main {
		max-width: 336px;
		margin: 32% auto 24%;
		gap: 2rem;
	}

	header {
		width: auto;
		margin: 0;
		padding-bottom: 40px;
	}

	h1 {
		font-size: 16px;
		line-height: 142%;
	}

	h2 {
		font-size: 19px;
	}

	h3 {
		font-size: 17px;
	}

	.logo {
		width: 20px;
		height: 20px;
	}

	p.primary {
		font-size: 16px;
		line-height: 142%;
	}

	p.secondary {
		font-size: 16px;
		line-height: 142%;
	}

	p.desc {
		font-size: 14px;
		line-height: 138%;
	}

	.content-left {
		width: 100%;
	}

	.content-center {
		width: 100%;
	}

	.portfolio {
		width: 100%;
	}

	.work-list {
		display: flex;
		padding: 0;
		position: unset;
		width: 100%;
	}

	.work-placeholder {
		width: 100%;
	}

	#work-image {
		border-radius: 8px;
		margin-top: 0;
	}

	#work-title {
		font-size: 16px;
	}

	#work-description {
		font-size: 15px;
	}

	.portfolio {
		flex-direction: column;
		height: 560px;
	}

	.portfolio-video {
		border-radius: 8px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 8px, rgba(0, 0, 0, 0.22) 0px 2px 4px;
		margin-bottom: 16px;
	}

	#email-btn {
		font-size: 16px;
	}

	.viewer {
		width: 140px;
		height: 300px;
		top: -20%;
		left: 32%;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 8px, rgba(0, 0, 0, 0.22) 0px 2px 4px;
	}

	.viewer-header {
		display: none;
	}

	.video-control {
		display: none;
	}

	footer {
		max-width: 336px;
		flex-direction: column;
		align-items: center;
	}

	.footer-info {
		flex-direction: column;
		gap: 24px;
	}

}

/* Media query for touch devices */
@media (pointer: coarse) {
    .arrow-icon {
        opacity: 1;
        transform: translateX(0);
    }

    /* Ensure the arrow icon is visible even on hover for touch devices */
    .work-item:hover .arrow-icon {
        opacity: 1;
        transform: translateX(0);
    }

	.portfolio {
		height: auto;
	}
}
