html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	background: #F5F7F9;
    color: #1E1E1E;
}

#container {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    max-width: 60rem;
    margin: 1.25rem auto;
}

main {
	padding: 0 1.25rem;
	line-height: 125%;
	font-size: 2em;
}

aside {
	min-width: 10rem;
}

header {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

section#intro {
	padding-bottom: 2rem;
}

.work-class {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}

.work-class li {
	text-decoration: line-through;
}

h1 {
}

h2 {
	padding-top: 4.5rem;
	padding-bottom: 1rem;

}

a {
	color: #008CEC;
	text-decoration: none;
	position: relative;
	}

a:hover {
	color: #008CEC;
	text-decoration-skip: ink;
	text-decoration: underline;
}

.chatbubble {
	font-size: 0.8em;
	padding: 0.4rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	background-color: #008CEC;
	color: #ffffff;
	border-radius: 8px;
}

.chatbubble:hover {
	background-color: #23A5FF;
	color: #ffffff;
}

img {
	display: block;
	margin: 0;
	padding: 0;
}


footer {
	padding-bottom: 1rem;
	font-size: 0.65em;
	color: #666666;
	line-height: 140%;
}

/* Portrait and Landscape */
@media screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) { 

	header {
	padding: 2em 0em 0em;
	}
	
    .content {
	line-height: 140%;
	font-size: 1.4em;
	max-width: 800px;
	}
	
	ul.links li {
	margin-bottom: 0.8em;
	}

	.chatbubble {
	border-radius: 6px;
	}
}