html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	outline: none;
	border-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

img {
	display: block;
	margin: 0;
	padding: 0;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

/* http://cssreset.com */

html.sr .load-hidden {
    visibility: hidden;
}

@font-face {
		font-family: 'PPNeueMontreal-Regular';
		font-style:  normal;
		font-display: swap;
		src: url('../fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
 				 url('../fonts/PPNeueMontreal-Regular.woff') format('woff');
}


@font-face {
		font-family: 'PPNeueMontreal-Medium';
		font-style:  normal;
		font-display: swap;
		src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
 				 url('../fonts/PPNeueMontreal-Medium.woff') format('woff');
}

@font-face {
		font-family: 'PPNeueMontreal-Bold';
		font-style:  normal;
		font-display: swap;
		src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
 				 url('../fonts/PPNeueMontreal-Bold.woff') format('woff');
}

:root {
	--black: #181818;
	--grey: #555555;
	--lightgrey: #cccccc;
	--white: #ffffff;
}

body {
	font-family: 'PPNeueMontreal-Regular', 'Helvetica', sans-serif;
	background: var(--white);
	color: var(--grey);
}

main {
	max-width: 120vh;
	margin: 1vh auto;
	padding-top: 12vh;
	display: grid;
	gap: 6vh;
}

header {
	width: 82vh;
	margin: auto;
}

.nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 100px;
	top: 1rem;
	left: 45.5%;
	z-index: 90;
	padding: 8px 12px 8px 12px;
	overflow: hidden;
	background: rgba(240,240,240,0.6);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border-radius: 40px;
	animation-name: nav-animation;
	animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
}

.favicon {
		background-image: url(../images/favicons/favicon.svg);
		width: 24px;
		height: 24px;
		animation-name: fade-in;
		animation-duration: 4s;
 		animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes nav-animation {
	0% {
		width: 80px;
		background: rgba(240,240,240,0.1);
		opacity: 0;
	}
	100% {
		width: 100px;
		background: rgba(240,240,240,0.6);
		opacity: 1;
	}
}

h1 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 16px;
	letter-spacing: 0.4px;
	color: var(--black);
	animation-name: fade-in;
	animation-duration: 4s;
 	animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
}

h2 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 26px;
	letter-spacing: 0.4px;
	color: var(--black);
}

h3 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 19px;
	letter-spacing: 0.4px;
	color: var(--black);
}

h4 {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	font-size: 14px;
	letter-spacing: 0.6px;
	color: var(--black);
}

a {
	color: var(--black);
	text-decoration: none;
}

a:active {
	color: var(--black);
}

a:visited {
	color: var(--black);
}

a:hover {

}

#email-btn {
	text-decoration: underline;
	text-underline-offset: 1px;
	transition: 0.3s ease;
}

#email-btn:hover {
	cursor: pointer;
	text-underline-offset: 4px;
 	animation-timing-function: cubic-bezier(0.42, 0.24, 0.02, 1);
}

p.primary {
	font-family: 'PPNeueMontreal-Regular', 'Helvetica', sans-serif;
	color: var(--black);
	font-size: 22px;
	line-height: 122%;
	letter-spacing: 0.4px;
	margin-bottom: 1rem;
}

p.desc {
	font-family: 'PPNeueMontreal-Regular', 'Helvetica', sans-serif;
	color: var(--grey);
	font-size: 16px;
	line-height: 132%;
	letter-spacing: 0.4px;
	padding-top: 0.6rem;
}


.links {
	justify-content: center;
	display: flex;
	gap: 1rem;
}

.chapter {
	width: 22vh;
	padding-top: 0.6rem;
}

.chapter-content {
	width: 64vh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.badge {
	background: var(--white);
	border: 1px solid var(--lightgrey);
	color: var(--grey);
	border-radius: 12px;
	padding: 0.2rem 0.6rem;
	font-size: 14px;
	letter-spacing: 0.4px;
}

.logo {
	width: 24px;
	height: 24px;
}

.flex {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.card {
	background: transparent;
	display: block;
	border: none;
	position: relative;
	z-index: 1;
	padding: 0.6rem;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s ease;
}

.card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	background: rgba(0,0,0,0.00);
	z-index: -1;
	pointer-events: none;
	transition: 0.3s ease;
	transform-origin: center;
	scale: 1.05;
}

.card:hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	background: rgba(0,0,0,0.05);
	z-index: -1;
	pointer-events: none;
	transition: 0.3s ease;
	transform-origin: center;
	scale: 1;
}

.noteworthy {
	padding: 0.6rem;
}

.noteworthy ul {
  flex-direction: row;
	padding-top: 0.6rem;
	width: fit-content;
	display: inline-flex;
	gap: 8px;
	flex-wrap: wrap;
}

.noteworthy li {
	font-family: 'PPNeueMontreal-Medium', 'Helvetica', sans-serif;
	background: var(--white);
	border: 1px solid var(--lightgrey);
	color: var(--grey);
	font-size: 14px;
	letter-spacing: 0.6px;
	padding: 4px 8px 4px 8px;
	border-radius: 12px;
}

.origami {
	position: relative;
	user-select: none;
}

.viewer {
	width: 215px;
	height: 498px;
	overflow: hidden;
	border-radius: 10px;
	z-index: 10;
	position: absolute;
	right: 4%;
	top: 10%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.viewer-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #313130;
	padding: 10px 12px 10px 12px;
	border-radius: 10px 10px 0px 0px
}

.video-control {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 48px;
	left: 24px;
	z-index: 10;
	user-select: none;
	transition: 0.3s ease;
	opacity: 0.8;
}

.video-control:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform-origin: center;
	scale: 1.2;
	opacity: 1;
}

.mute {
	content: url(../images/assets/mute.svg);
	user-select: none;
}

.unmute {
	content: url(../images/assets/unmute.svg);
	user-select: none;
}

footer {
	padding-bottom: 3rem;
	justify-content: center;
	display: flex;
}

ul{
	width: fit-content;
	display: inline-flex;
	gap: 1rem;
}

/* Mobile views */

@media screen and (max-width: 950px) and (min-width: 540px) {
	
	.nav {
		left: 42%;
	}

	.origami {
		display: none;
	}

}

@media screen and (max-width: 500px) and (min-width: 412px) {
	main {
		max-width: 23rem;
		margin: 1.25rem auto;
	}

	header {
		width: auto;
		margin: 0;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 16px;
	}

	.nav {
		left: 34%;
	}

	.origami {
		display: none;
	}

	.links {
		flex-direction: column;
		align-items: center;
	}

	.chapter-content {
		width: auto;
	}

	.chapter {
		width: auto;
		padding-bottom: 1.4rem;
	}

	p.primary {
		font-size: 16px;
		line-height: 126%;
	}

	footer {
		flex-direction: column;
		align-items: center;
	}

}

@media screen and (max-width: 390px) {
	main {
		max-width: 21rem;
		margin: 1.25rem auto;
	}

	header {
		width: auto;
		margin: 0;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 16px;
	}

	p.primary {
		font-size: 16px;
		line-height: 126%;
	}

	.nav {
		left: 34%;
	}

	.origami {
		display: none;
	}

	.links {
		flex-direction: column;
		align-items: center;
	}

	.chapter-content {
		width: auto;
	}

	.chapter {
		width: auto;
		padding-bottom: 1.4rem;
	}

	footer {
		flex-direction: column;
		align-items: center;
	}

}
