:root {
	--black: #313131;
	--grey: #a1a1a1;
	--softgrey: #e1e1e1;
	--white: #ffffff;
	font-family: Inter, sans-serif;
  	font-feature-settings: 'liga' 1, 'calt' 1,"ss01" 1, "ss03" 1, "cv10" 1;
}

@font-face {
	font-family: 'Inter-SemiBold';
	font-style:  normal;
	font-display: swap;
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
}

@font-face {
	font-family: 'Inter-Medium';
	font-style:  normal;
	font-display: swap;
	src: url('../fonts/Inter-Medium.woff2') format('woff2'),
}

@font-face {
	font-family: 'Inter-Bold';
	font-style:  normal;
	font-display: swap;
	src: url('../fonts/Inter-Bold.woff2') format('woff2'),
}

html {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	background: var(--white);
	color: var(--black);
	overflow-y: scroll;
}

a {
	color: var(--black);
	text-decoration-style: dotted;
	text-decoration-color: var(--softgrey);
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
	transition: 0.3s ease;
}

a:hover {
	text-decoration-color: var(--grey);
	transition: 0.3s ease;
}

a:active {
	color: var(--black);
}

a:visited {
	color: var(--black);
}

a.item {
	text-decoration: none;
	transition: 0.2s ease;
}

a.item:hover {
	transition: 0.2s ease;
	padding-left: 12px;
}

#logo-lottie {
	margin-left: -8px
}

#logo-lottie:hover {
	cursor: pointer;
}

#email-btn {
	width: fit-content;
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	font-size: 17px;
	line-height: 150%;
	color: var(--black);
	text-decoration-style: dotted;
	text-decoration-color: var(--softgrey);
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
	transition: 0.3s ease;
}

#email-btn:hover {
	text-decoration-color: var(--grey);
	transition: 0.3s ease;
}

img {
	width: 100%;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

#hover-media {
    position: fixed;
    pointer-events: none;
    opacity: 0;
    z-index: 9999; 
    overflow: hidden;
    display: block;
}

#hover-media img,
#hover-media video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.hero-image {
	width: 100%;
	height: 576px;
	background-color: burlywood;
	border-radius: 8px;
}

.subpage-info {
	opacity: 1;
	scale: 1;
}

/* TYPOGRAPHY */

h1 {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	font-size: 17px;
	line-height: 150%;
}

h1.subpage-header {
	font-family: 'Inter-Bold', 'Helvetica', sans-serif;
	font-size: 40px;
	line-height: 110%;
	text-align: center;
}

h2 {
	font-family: 'Inter-SemiBold', 'Helvetica', sans-serif;
	font-size: 17px;
	color: var(--black);
	width: 100%;
}

h3 {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	font-size: 15px;
	color: var(--black);
}

h4 {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	font-size: 14px;
	color: var(--black);
}

p.large {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	color: var(--black);
	font-size: 17px;
	line-height: 150%;
	text-wrap: pretty;
}

p.medium {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	color: var(--grey);
	font-size: 15px;
	line-height: 150%;
	text-wrap: pretty;
}

p.small {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	color: var(--black);
	font-size: 14px;
	line-height: 150%;
	text-wrap: pretty;
	font-variant-numeric: tabular-nums;
}

.bold {
	font-family: 'Inter-SemiBold', 'Helvetica', sans-serif;
}

/* CONTENT */

main {
	max-width: 1024px;
	margin: 8rem auto 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.5rem;
	overflow: visible;
}

.content {
	width: 496px;
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
    flex-direction: row;
	align-items: center;
	gap: 6px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.flex-column {
	display: flex;
    flex-direction: column;
    width: max-content;
	gap: 4px;
}

.company-card-header {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.item {
	cursor: pointer;
	padding-top: 12px;
	padding-bottom: 12px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 36px; /* Gap between boxes */
}

.box {
    background-color: var(--softgrey);
	border-radius: 16px;	
}

.box1 {
    width: 280px;
    height: 280px;
}

.box2 {
    width: 484px;
    height: 280px;
}

.box3 {
    width: 484px;
    height: 280px;
}

.box4 {
    width: 280px;
    height: 280px;
}

.grid-container > .box:nth-child(2) {
    margin-left: auto;
}

.grid-container > .box:nth-child(3) {
    margin-left: auto;
}

/* SPACING */

.gap-1rem {
	gap: 1rem;
}

.gap-2rem {
	gap: 2rem;
}

.pb-1rem {
	padding-bottom: 1rem;
}

/* ANIMATIONS */
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes nav-animation {
	0% {
		width: 32px;
		background: rgba(240,240,240,0.1);
		opacity: 0;
	}
	100% {
		width: 232px;
		background: rgba(240,240,240,0.6);
		opacity: 1;
	}
}

.large-logo {
	width: 40px;
	height: 40px;
}

.medium-logo {
	width: 32px;
	height: 32px;
}

.small-logo {
	width: 24px;
	height: 24px;
}

.tiny-logo {
	width: 16px;
	height: 16px;
}

/* FOOTER */
footer {
    display: flex;
	flex-direction: column;
    align-items: center;
	gap: 32px;
    padding-bottom: 3rem;
	padding-top: 1rem;
}

ul.footer-social {
	display: inline-flex;
	justify-content: center;
	gap: 2rem;
}

.footer-notes {
	font-family: 'Inter-Medium', 'Helvetica', sans-serif;
	display: inline-flex;
	align-items: center;
	letter-spacing: 0.005rem;
	gap: 40px;
	color: var(--black);
	font-size: 14px;
}

@media (pointer: coarse) {

}

@media screen and (width <= 549px) {

	main {
		max-width: 336px;
		margin: 8rem auto 8rem;
	}

	.content {
		width: 100%;
	}

	h1 {
		font-size: 16px;
	}

	p.large {
		font-size: 16px;
	}

	p.medium {
		font-size: 14px;
	}

	#email-btn { 
		font-size: 16px;
	}

	.footer-notes {
		flex-direction: column;
		gap: 24px;
	}

}